<h4>Post details:</h4>
<p>
	<%= @row['content'] %>
	<hr />
	Added at <%= @row['created_date'] %>
	<br />
	<br />
</p>
<h4>Comments:</h4>
<hr />

<% @comments.each do |comment| %>
	<p>
		<%= comment['content'] %>		
	</p>
	<br />
	<span style="font-size: 85%; color: #999" >
		Added at <%= comment['created_date'] %>
	</span>
	<hr />
<% end %>

<p>
	<form action="/details/<%= @row['id'] %>" method="POST" >
		<textarea name="content" class="form-control" rows="8" placeholder="Add comment here" ></textarea>
		</br>
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>